$background_colour: #595959;
$subheading_colour: white;

body {
    background-color: $background_colour;
  }

#socialmedia_list {
    margin: auto;
    width: 75%;
    p {
        font-size: xx-large;
        text-align: center;
        color: $subheading_colour;
    }
}
