$background_colour: #595959;
$subheading_colour: white;

@media (min-width: 600px) {
    #intro::before {
      content: "Hi, I'm Stef Roque.";
      }
  }

@media (max-width: 599px) {
#intro::before {
    content: "Hello.";
    }
}

body {
    background-color: $background_colour;
  }

#intro {
    font-size: 50px;
    text-align: center;
    color: $subheading_colour;
}